@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jersey+15&family=Sixtyfour&display=swap');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.download-btn:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 128, 0, 0.3);
}

.reset-btn:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(128, 128, 128, 0.3);
}

.video-preview {
  position: relative;
  padding-bottom: 20%;
  height: 0;
  overflow: hidden;
  max-width: 50%;
  border-radius: 8px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.video-preview iframe,
.video-preview video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

@media (max-width: 768px) {

.form-section{
  margin-right: 200px;
  place-items: center;

  width: 100px;
}

  .video-preview
   {
    padding-bottom: 56.25%;
    width: 100%;
    height: 100%;
  }
}

.header {
  position: relative;
  text-align: center;
  background: linear-gradient(
    60deg,
    rgb(165, 142, 255) 0%,
    rgb(46, 149, 162) 100%
  );
  color: white;
}
.logo {
  
  width: 50px;
  fill: white;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}
h1{
  font-family: "Jersey 15", serif;
  font-weight: 400;
  font-style: normal;


}

.logo-header img {
  height: 70px;
  width: 70px;
}
.inner-header {
  height: 40vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.footer-basic {
  padding: 40px 0;
  background-color: rgba(173, 216, 230, 0.2);
  backdrop-filter: blur(10px);
  color: black;
  position: relative;
  z-index: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
  position: relative;
  z-index: 2;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
  transition: transform 0.3s ease, filter 0.3s ease, color 0.3s ease;
}

.footer-basic .social > a:hover {
  opacity: 1;
  transform: scale(1.2);
  filter: saturate(1.5) brightness(1.2);
  color: #00aced;
  background-color: #1da1f2;
  border-color: #00aced;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 20px;
  color: #000000;
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

.footer-basic .waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.spinner-border {
  margin-top: 20px;
  width: 50px;
  height: 50px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.button {
  border-radius: 100px;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
  background-color:  #007bff;
}

.button.active {
  background-color: #4FD1C5;
  color: rgb(0, 0, 0);
  transform: scale(1.1);
  font-weight: bold;
}


.button i {
  margin-right: 8px;
}

.form-section {
  display: none;
  place-items: center;
  height: 100vh;
  place-items: center;

}


.form-section-cv {
  display: none;
  place-items: center;
  height: 100vh;
  
  place-items: center;

}

.form-section-cv.active {
  display: block;
  animation: fadeIn 1s ease-in-out forwards;

}


.form-section.active {
  display: block;
  animation: fadeIn 1s ease-in-out forwards;

}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#tiktok-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.form-control {
  padding: 10px;
  font-size: 16px;
}

.btn-danger {
  margin-bottom: 20px;
}

.btn {
  font-size: 16px;
  padding: 12px 24px;
  display: flex;
  align-items: center;
}

.btn i {
  margin-right: 10px;
}

.btn-animated {
  transition: background-color 0.3s, transform 0.3s;
}

.btn-animated:hover {
  background-color: #4caf50;
  transform: scale(1.05);
}

#instagram-form {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Heading styling */
#instagram-form h3 {
  font-size: 24px;
  font-weight: bold;
  color: #343a40;
  margin-bottom: 20px;
}

/* Input field styling */
#instagram-link {
  font-size: 16px;
  padding: 12px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  width: 100%;
  transition: border 0.3s ease;
}

#instagram-link:focus {
  outline: none;
  border-color: #007bff;
}

#tiktok-mp4-to-mp3-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.form-control {
  padding: 10px;
  font-size: 16px;
}

.btn {
  font-size: 16px;
  padding: 12px 24px;
  display: flex;
  align-items: center;
}

.btn i {
  margin-right: 10px;
}

.btn-animated {
  transition: background-color 0.3s, transform 0.3s;
}

.btn-animated:hover {
  background-color: #007bff;
  transform: scale(1.05);
}


/* Basic styles for the section */
.home-section {
  text-align: center;
  margin-top: -310px;
  border-radius: 8px;
}

.home-info p {
  font-size: 18px;
  color: #333;
  font-family: Arial, sans-serif;
}

#typing-text {
  font-size: 22px;
  font-weight: bold;
  color: #007bff;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 5s steps(56) infinite, blink-caret 2s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}
.hide-text {
  display: none;
}


.btn-reset {
  min-width: 30px;
  min-height: 40px;
  display: inline-flex;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  z-index: 9999;
  transition: transform 0.3s ease-in-out; 
}

.btn-reset::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(200px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.btn-reset:hover, 
.btn-reset:focus {
  color: #313133;
  transform: translateX(-50%) translateY(-6px); 
}

.btn-reset:hover::before, 
.btn-reset:focus::before {
  opacity: 1;
}

.btn-reset::after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

/* Remove the ring effect on hover */
.btn-reset:hover::after, 
.btn-reset:focus::after {
  animation: none;
  display: none;
}

/* Keyframes for the ring animation */
@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.button-download {
  --width: 200px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: green;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial";
  transition: background 0.3s;
}

.button-download::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: var(--tooltip-color);
  font-size: 0.9rem;
  color: #111;
  border-radius: .25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.button-download::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: var(--tooltip-color);
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button-download::after,
.button-download::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper,
.text,
.icon1 {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0;
}

.text,
.icon1 {
  transition: top 0.5s;
}

.icon1 {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon1 svg {
  width: 24px;
  height: 24px;
}

.button-download:hover {
  background: #6c18ff;
}

.button-download:hover .text {
  top: -100%;
}

.button-download:hover .icon1 {
  top: 0;
}

.button-download:hover:before,
.button-download:hover:after {
  opacity: 1;
  visibility: visible;
}

.button-download:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button-download:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}


/* Part 2 */

.button-download-2 {
  --width: 200px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #28a745; /* Green color */
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial";
  transition: background 0.3s;
}

.button-download-2::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: var(--tooltip-color);
  font-size: 0.9rem;
  color: #111;
  border-radius: 0.25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.button-download-2::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: var(--tooltip-color);
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button-download-2::after,
.button-download-2::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper,
.text,
.icon2 {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0;
}

.text,
.icon2 {
  transition: top 0.5s;
}

.icon2 {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon2 svg {
  width: 24px;
  height: 24px;
}

.button-download-2:hover {
  background: #218838; /* Darker green for hover */
}

.button-download-2:hover .text {
  top: -100%;
}

.button-download-2:hover .icon2 {
  top: 0;
}

.button-download-2:hover:before,
.button-download-2:hover:after {
  opacity: 1;
  visibility: visible;
}

.button-download-2:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button-download-2:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}


/* Button Resolusi */
.resolusi {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.resolution-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.resolution-btn:hover {
  background-color: #45a049;
}







/*mobile*/
@media (max-width: 768px) {
  .waves {
    height: 80px;
    min-height: 30px;
  }
  .content {
    height: 20vh;
  }
  h1 {
    font-size: 24px;
    font-family: "Jersey 15", serif;
  font-weight: 400;
  font-style: normal;

  }
  .logo-header img {
    height: 150px;
    width: 150px;
  }
}
.frame {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to top right, #00bfff, #00008b);
  padding: 30px;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  margin: 50px auto;
}

.center {
  text-align: center;
}

.title {
  margin-bottom: 20px;
  color: #fff;
}

.title h1 {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.dropzone {
  width: 200px;
  height: 150px;
  border: 2px dashed #fff;
  border-radius: 5px;
  margin: 20px auto;
  position: relative;
  text-align: center;
  padding-top: 30px;
}

.upload-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
}

.upload-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

#word-logo {
  margin: 10px 0;
  display: none;
  text-align: center;
}

.word-logo {
  width: 60px;
  height: 60px;
}

#file-name-preview {
  color: #fff;
  font-weight: 500;
  margin-top: 10px;
  font-size: 16px;
}

.btn {
  display: inline-block;
  width: 200px;
  height: 45px;
  background: #ff69b4;
  color: #fff;
  border-radius: 5px;
  border: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #ff1493;
}
.loading-section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  font-size: 1.5em;
  font-weight: bold;
}

.loading-spinner {
  margin-right: 10px;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


#cancel-conversion button:hover {
  background-color: #e53e39;
}

#convert-result {
  font-size: 16px;
  color: white;
  margin-top: 20px;
  font-weight: bold;
}
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.main-buttons,
#more-options {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.button {
  display: flex;
  flex: 5;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border: none;
  border-radius: 100px;
  background-color: #007bff;
  width: 100px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  max-width: 200px; 
}

.button-more {
  display: flex;
  flex: 5;
  align-items: center;
  justify-content: center; 
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  width: 150px;
  height: 60px; 
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  max-width: 200px; 
}
.button-2 {
  display: flex;
  flex: 5;
  align-items: center;
  justify-content: center; 
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  width: 190px;
  height: 60px; 
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  max-width: 200px; 
}

.button i {
  margin-right: 5px;
  
}

.button:hover {
  background-color: #0056b3;
}

.button.active {
  background-color: #0056b3;
}

#more-options-button {
  margin-top: 20px;
  flex: 0 0 auto;
}

@media (max-width: 768px) {

  .button {
      max-width: unset; 
  }
}

@media (max-width: 480px) {
  .button {
      font-size: 14px;
      padding: 8px 10px;
  }
}


/* General Styling for Yt forms */
.form-yt, .form-yt-v {
  overflow: hidden;
  background-color: white;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  width: 400px;
  transform: translate(-15%, -0%);

  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 5px 10px 10px rgba(0, 128, 128, 0.2);
}


.form-yt::before, .form-yt::after, .form-yt-v::before, .form-yt-v::after {
  content: '';
  position: absolute;
  width: 600px;
  height: 600px;
  border-top-left-radius: 40%;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 40%;
  z-index: -1;
}

.form-yt::before, .form-yt-v::before {
  left: 40%;
  bottom: -130%;
  background-color: rgba(255, 0, 0, 0.8); /* Red color */
  animation: wawes 6s infinite linear;
}

.form-yt::after, .form-yt-v::after {
  left: 35%;
  bottom: -125%;
  background-color: rgba(0, 0, 0, 0.5); /* Black color */
  animation: wawes 7s infinite;
}


.form-yt > input, .form-yt-v > input {
  font-family: 'Asap', sans-serif;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: white;
  width: 100%;
  border: 0;
  padding: 10px;
  margin: 15px -10px;
}

.form-yt > button, .form-yt-v > button {
  font-family: 'Asap', sans-serif;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  width: 80px;
  border: 0;
  padding: 10px 0;
  margin-top: 10px;
  margin-left: -5px;
  border-radius: 5px;
  background-color: #ff6347; /* Tomato red */
  transition: background-color 300ms;
}

.form-yt > button:hover, .form-yt-v > button:hover {
  background-color: darken(#ff6347, 5%);
}

@keyframes wawes {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}





/* General Styling for tiktok forms */
.form-tt, .form-tt-v {
  overflow: hidden;
  background-color: white;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  width: 400px;
  transform: translate(-15%, -0%);

  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 5px 10px 10px rgba(0, 128, 128, 0.2);
}


.form-tt::before, .form-tt::after, .form-tt-v::before, .form-tt-v::after {
  content: '';
  position: absolute;
  width: 600px;
  height: 600px;
  border-top-left-radius: 40%;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 40%;
  z-index: -1;
}
.form-tt::before, .form-tt-v::before {
  left: 40%;
  bottom: -130%;
  background-color: rgba(0, 182, 241, 0.8); /* Cyan color from TikTok logo */
  animation: wawes 6s infinite linear;
}

.form-tt::after, .form-tt-v::after {
  left: 35%;
  bottom: -125%;
  background-color: rgba(255, 65, 108, 0.5); /* Magenta color from TikTok logo */
  animation: wawes 7s infinite;
}

.form-tt > input, .form-tt-v > input {
  font-family: 'Asap', sans-serif;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: white;
  width: 100%;
  border: 0;
  padding: 10px;
  margin: 15px -10px;
}

.form-tt > button, .form-tt-v > button {
  font-family: 'Asap', sans-serif;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  width: 80px;
  border: 0;
  padding: 10px 0;
  margin-top: 10px;
  margin-left: -5px;
  border-radius: 5px;
  background-color: #ff6347; /* Tomato red */
  transition: background-color 300ms;
}

.form-tt > button:hover, .form-tt-v > button:hover {
  background-color: darken(#ff6347, 5%);
}




/* General Styling for insta forms */
.form-ig, .form-ig-v {
  overflow: hidden;
  background-color: white;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  width: 400px;
  transform: translate(-15%, -0%);
  place-items: center;
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 5px 10px 10px rgba(0, 128, 128, 0.2);
}


.form-ig::before, .form-ig::after, .form-ig-v::before, .form-ig-v::after {
  content: '';
  position: absolute;
  width: 600px;
  height: 600px;
  border-top-left-radius: 40%;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 40%;
  z-index: -1;
}
.form-ig::before, .form-ig-v::before {
  left: 40%;
  bottom: -130%;
  background: linear-gradient(45deg, rgba(225, 48, 108, 0.8), rgba(131, 58, 180, 0.8), rgba(66, 103, 178, 0.8)); /* Instagram gradient colors */
  animation: wawes 6s infinite linear;
}

.form-ig::after, .form-ig-v::after {
  left: 35%;
  bottom: -125%;
  background: linear-gradient(45deg, rgba(225, 48, 108, 0.5), rgba(131, 58, 180, 0.5), rgba(66, 103, 178, 0.5)); /* Instagram gradient colors */
  animation: wawes 7s infinite;
}


.form-ig > input, .form-ig-v > input {
  font-family: 'Asap', sans-serif;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: white;
  width: 100%;
  border: 0;
  padding: 10px;
  margin: 15px -10px;
}

.form-ig > button, .form-ig-v > button {
  font-family: 'Asap', sans-serif;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  width: 80px;
  border: 0;
  padding: 10px 0;
  margin-top: 10px;
  margin-left: -5px;
  border-radius: 5px;
  background-color: #ff6347; /* Tomato red */
  transition: background-color 300ms;
}

.form-ig > button:hover, .form-ig-v > button:hover {
  background-color: darken(#ff6347, 5%);
}



/* General Styling for facebook forms */
.form-fb, .form-fb-v {
  overflow: hidden;
  background-color: white;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  width: 400px;
  transform: translate(-15%, -0%);
box-shadow: #000000;
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 5px 10px 10px rgba(0, 128, 128, 0.2);
}


.form-fb::before, .form-fb::after, .form-fb-v::before, .form-fb-v::after {
  content: '';
  position: absolute;
  width: 600px;
  height: 600px;
  border-top-left-radius: 40%;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 40%;
  z-index: -1;
}
.form-fb::before, .form-fb-v::before {
  left: 40%;
  bottom: -130%;
  background-color: rgba(24, 119, 242, 0.8); /* Facebook blue */
  animation: wawes 6s infinite linear;
}

.form-fb::after, .form-fb-v::after {
  left: 35%;
  bottom: -125%;
  background-color: rgba(59, 89, 152, 0.5); /* Facebook lighter blue */
  animation: wawes 7s infinite;
}


.form-fb > input, .form-fb-v > input {
  font-family: 'Asap', sans-serif;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: white;
  width: 100%;
  border: 0;
  padding: 10px;
  margin: 15px -10px;
}

.form-fb > button, .form-fb-v > button {
  font-family: 'Asap', sans-serif;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  width: 80px;
  border: 0;
  padding: 10px 0;
  margin-top: 10px;
  margin-left: -5px;
  border-radius: 5px;
  background-color: #ff6347; /* Tomato red */
  transition: background-color 300ms;
}

.form-fb > button:hover, .form-fb-v > button:hover {
  background-color: darken(#ff6347, 5%);
}

input {
  display: none;
}



.center {
  place-items: center;
}
.wrapper {
  width: 100px;
  border-radius: 30px;
  height: 50px;
  background: white;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.281);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 5;
  position: relative;
}
.item {
  cursor: pointer;
}
.linee {
  width: 20px;
  height: 3px;
  background: rgb(201, 198, 198);
  margin-top: 3px;
  border-radius: 5px;
  transition: all 0.2s;
}
.linee1 {
  width: 15px;
  transform: translateX(5px);
}
.linee1::before {
  content: "";
  display: block;
  transform: translateX(-5px);
  width: 3px;
  height: 3px;
  background: rgb(201, 198, 198);
  transition: width 0.2s ease 0.1s, transform 0.2s;
}
.linee3::after {
  content: "";
  display: block;
  transform: translateX(17px);
  width: 0px;
  height: 3px;
  background: rgb(201, 198, 198);
  transition: width 0.2s ease 0.1s;
}
.linee3 {
  width: 13px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 5px);
  grid-auto-rows: 5px;
  grid-gap: 4px;
  transform: translateY(3px);
}
.dot {
  border: 1px solid rgb(139, 136, 136);
  border-radius: 50%;
}
.add {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: rgb(201, 198, 198);
  border: none;
  position: relative;
  z-index: 4;
  transition: all 0.3s ease;
  outline: none;
}
.close {
  position: relative;
  left: 35%;
  z-index: 4;
  top: 50%;
}
.line {
  position: absolute;
  width: 10px;
  height: 2px;
  background: rgb(255, 255, 255);
  transition: all 0.2s;
}
.line1 {
  transform: rotate(0deg);
}
.line2 {
  transform: rotate(90deg);
}
.search {
  position: absolute;
  top: 0;
  left: 4%;
  z-index: 0;
  width: 0px;
  height: 38px;
  border-radius: 30px;
  border: none;
  color: white;
  background: rgb(253, 95, 95);
  box-sizing: border-box;
  padding-left: 35px;
  transition: all 0.3s ease;
  outline: none;
  box-shadow: none;
}
::placeholder {
  font-weight: bold;
  color: white;
}
.circle {
  width: 38px;
  height: 38px;
  background: rgb(201, 198, 198);
  top: 0;
  left: 0;
  position: absolute;
  z-index: 3;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.5s;
}
.nav-items {
  width: 38px;
  height: 38px;
  background: rgb(246, 54, 54);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.212);
  transform: scale(0);
  transition: transform 0.1s cubic-bezier(0.23, -0.47, 0.58, -0.63);
}
.nav-items:hover {
  transform: scale(1.1);
  transition-timing-function: 0.1s;
}
.items1 {
  top: -95%;
  left: 30%;
}
.items2 {
  top: -50%;
  left: -43%;
  transition-delay: 0.1s;
}
.items3 {
  top: 80%;
  left: -43%;
  transition-delay: 0.2s;
}
.items4 {
  top: 120%;
  left: 30%;
  transition-delay: 0.3s;
  
}

.items5 {
  top: 85%;
  left: 105%;
  transition-delay: 0.3s;
}
.box {
  width: 100%;
  position: absolute;
  top: 110%;
  left: 0;
  height: 0px;
  overflow: hidden;
  background: white;
  display: grid;
  grid-gap: 10px;
  transition: height 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);

  z-index: 0;
}
.box-line {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  opacity: 0;
  z-index: 0;
  transition: opacity 0s;
}

.box-line:nth-child(even) {
  width: 130px;
}
.effect {
  z-index: 3;
  border-radius: 50%;
  width: 200vmax;
  height: 200vmax;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: rgb(246, 54, 54);
  transition: transform 0.4s;
}
/* toggle classes */
.box-show {
  height: 150px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.226);
  padding: 10px;
  transition-duration:0.2s;
}
.box-line-show {
  opacity: 1;
  transition-duration:.1s;
}
footer{
  display:flex;
 position:fixed;
  top:90%;
  left:50%;
  transform:translate(-50%,-50%);
  
}
footer a{
color:gray;
margin-left:30px;
font-size:1.8rem;}
a:nth-child(1):hover{
  color:tomato;
}
a:nth-child(2):hover{
  color:skyblue;
}
.color {
  background: rgb(246, 54, 54);
}
.show-menu {
  transform: scale(1);
  transition: transform 0.5s cubic-bezier(0.23, -0.47, 0.58, -0.63);
}
.go {
  transform: translateX(-125px);
}
.search-focus {
  width: 180px;
  left: 20%;
  top: 1%;
  height: 38px;
  background: rgb(253, 95, 95);
}
.move {
  transform: rotate(45deg);
}
.mov {
  transform: rotate(-45deg);
}

.big {
  transform: translate(-50%, -50%) scale(1);
}
/* hover effect */
.menu:hover .linee1 {
  width: 10px;
  transform: translateX(0px);
}
.menu:hover .linee1::before {
  width: 0px;
  transform: translateX(0px);
}
.menu:hover .linee3 {
  width: 15px;
}
.menu:hover .linee3::after {
  content: "";
  display: block;
  transform: translateX(17px);
  width: 3px;
  height: 3px;
  background: rgb(201, 198, 198);
  transition: width 0.2s ease 0.1s;
}
.gallery:hover .dot1 {
  animation: jump 0.4s ease 1;
}
.gallery:hover .dot2 {
  animation: jump 0.4s ease 0.1s 1;
}
.gallery:hover .dot3 {
  animation: jump 0.4s ease 0.2s 1;
}
.gallery:hover .dot4 {
  animation: jump 0.4s ease 0.3s 1;
}
.gallery:hover .dot5 {
  animation: jump 0.4s ease 0.4s 1;
}
.gallery:hover .dot6 {
  animation: jump 0.4s ease 0.5s 1;
}
@keyframes jump {
  50% {
    transform: translateY(-4px);
    border-color: rgb(117, 117, 117);
  }
  100% {
    transform: translateY(0px);
    border-color: rgb(119, 118, 118);
  }
}
.close {
  width: 10px;
}